
<div class="hero-unit">
    <h1>Happy Birthday, Миме</h1>
</div>
<div class="row">
    <div class="span4">
        @Html.ActionLink("Цък", "Friends", "Categories")
        @Html.ActionLink("Клик", "Family", "Categories")
        @Html.ActionLink("Щрак", "Pets", "Categories")
    </div>
</div>